<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Corwdertise" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <noscript>
        <meta http-equiv="refresh" content="2;url=http://google.com">
    </noscript>
  </head>

  <body>
    <div class="contain-to-grid">

        <nav class="top-bar" data-topbar role ="navigation">
          <ul class="title-area">
            <li class="name">
            <h1><a href="http://localhost:3000">Crowdertise</a></h1>
            </li>
           
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li><a href="#">About Us</a></li>
              <li><a href="#">How it works</a></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'Register', new_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path%></li>
              <li><%= link_to 'Account',profile_path %></li>
            </ul>
            
          </section>   
        </nav>

    </div>
    <div class="row">
    <% if(notice.nil?)%> 
    <%else%>
    <span class="warning label"><%= notice  %>    </span><br>
    <%end%>
        <% if(alert.nil?)%> 
    <%else%>
    <span class="warning label"><%= alert  %>    </span><br>
    <%end%>
    </div>
    <div class="row">
        <%= yield %>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>

    <script src="js/foundation/foundation.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>