<%= form_for @article do |f| %>
<div>
	<%if @article.errors.any? %>
		<div id="error_explanation">
			<h4> <%= pluralize(@article.errors.count, "error") %> Prevented article being saved: </h4>
			<ul class="no bullets">
			<% @article.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
	
			<% end -%>
			</ul>
		</div>
	<% end -%>
</div>
	<div class="row">
		<p>

    	   <%= f.hidden_field :key %>
			<%= f.hidden_field :campaign_id, :value => @campaign_id %>
			<%= f.label :title %> <br>
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :text %> <br>
			<%= f.text_area :text %>
		</p>
		<p>
			<%= f.submit  class:"button radius"%>
		</p>

	</div>
<%end%>